In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("C:/Users/Vinay Muthangi/Gotcha/Algorthims/business-financial-data.csv")

In [3]:
data.head()

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,BDCQ.SF1AA2CA,2016.06,1116.386,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN
1,BDCQ.SF1AA2CA,2016.09,1070.874,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN
2,BDCQ.SF1AA2CA,2016.12,1054.408,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN
3,BDCQ.SF1AA2CA,2017.03,1010.665,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN
4,BDCQ.SF1AA2CA,2017.06,1233.700,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN

In [4]:
x = data.iloc[:,0:-1].values

In [5]:
print(x)

[['BDCQ.SF1AA2CA' 2016.06 1116.386 ... 'Forestry and Logging'
  'Current prices' 'Unadjusted']
 ['BDCQ.SF1AA2CA' 2016.09 1070.874 ... 'Forestry and Logging'
  'Current prices' 'Unadjusted']
 ['BDCQ.SF1AA2CA' 2016.12 1054.408 ... 'Forestry and Logging'
  'Current prices' 'Unadjusted']
 ...
 ['BDCQ.SF8RSCA' 2021.03 597.997 ...
  'Arts, Recreation and Other Services' 'Current' 'Unadjusted']
 ['BDCQ.SF8RSCA' 2021.06 635.931 ...
  'Arts, Recreation and Other Services' 'Current' 'Unadjusted']
 ['BDCQ.SF8RSCA' 2021.09 439.138 ...
  'Arts, Recreation and Other Services' 'Current' 'Unadjusted']]

In [7]:
y = data.iloc[: , -1].values

In [8]:
print(y)

[nan nan nan ... nan nan nan]

In [9]:
col_names = list(data.columns)

In [10]:
print("Col Names: ",col_names)

Col Names:  ['Series_reference', 'Period', 'Data_value', 'Suppressed', 'STATUS', 'UNITS', 'Magnitude', 'Subject', 'Group', 'Series_title_1', 'Series_title_2', 'Series_title_3', 'Series_title_4', 'Series_title_5']